* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.topbar {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 0 20px;
    height: 60px;
    display: flex;
    grid-template-columns: 2fr 10fr 0.4fr 1fr;
    align-items: center;
    z-index: 1;
}
img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo h2 {
    color: #0062ff;
}


.fa-bell {
    justify-self: right;
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 60px;
    width: 260px;
    height: calc(100% - 60px);
    background: #0062ff;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.sidebar ul {
    margin-top: 20px;
}
.sidebar ul li {
    width: 100%;
    list-style: none;
}
.sidebar ul li:hover {
    background: #fff;
}
.sidebar ul li:hover a {
    color: #0062ff;
}
.sidebar ul li a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
}
.sidebar ul li a i {
    min-width: 60px;
    font-size: 35px;
    text-align: center;
}
/* main */
.main {
    position: absolute;
    top: 60px;
    width: calc(100% - 300px);
    min-height: calc(100vh - 60px);
    left: 310px;
    background: #ffffff;
}

.icon-box i {
    font-size: 45px;
    color: #0062ff;
}

@media (max-width:1115px) {
    .sidebar {
        width: 60px;
    }
    .main {
        width: calc(100% - 60px);
        left: 60px;
    }
}
@media (max-width:880px) {
    /* .topbar {
        grid-template-columns: 1.6fr 6fr 0.4fr 1fr;
    } */
    .fa-bell {
        justify-self: left;
    }
}
@media (max-width:500px) {
    .topbar {
        grid-template-columns: 1fr 5fr 0.4fr 1fr;
    }
    .logo h2 {
        font-size: 20px;
    }
    }
    .search input {
        padding: 0 20px;
    }
    .fa-bell {
        margin-right: 5px;
    }
}/* CSS Document */
